.format {
    color: red;
    background: grey;
}

@media screen and (max-width:768px) {
    .format {
        color: red;
        background: yellow;
    }
}

@media screen and (max-width:575px) {
    .format {
        color: cyan;
        background: red;
    }
}

.blink {
    animation: blinker 0.6s linear infinite;
    color: green;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    }
    @keyframes blinker {  
    50% { opacity: 0; }
    }